In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Air_Quality.csv")

In [3]:
df.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,12/01/2014,23.97,NaN
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,12/01/2014,27.42,NaN
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,01/01/2017,12.55,NaN
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,12/01/2015,22.63,NaN
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,06/01/2016,14.00,NaN

In [4]:
df.shape

(18862, 12)

In [5]:
df.columns

Index(['Unique ID', 'Indicator ID', 'Name', 'Measure', 'Measure Info',
       'Geo Type Name', 'Geo Join ID', 'Geo Place Name', 'Time Period',
       'Start_Date', 'Data Value', 'Message'],
      dtype='object')

In [6]:
df['Start_Date'] = pd.to_datetime(df['Start_Date'], errors='coerce')

In [7]:
df = df[df['Start_Date'].notna()]
df = df[df['Data Value'].notna()]

In [8]:
df['Year'] = df['Start_Date'].dt.year
df['Month'] = df['Start_Date'].dt.month
df['Day'] = df['Start_Date'].dt.day

In [9]:
df.isnull().sum()

Unique ID             0
Indicator ID          0
Name                  0
Measure               0
Measure Info          0
Geo Type Name         0
Geo Join ID           0
Geo Place Name        0
Time Period           0
Start_Date            0
Data Value            0
Message           18862
Year                  0
Month                 0
Day                   0
dtype: int64

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.drop(columns=['Message'], inplace=True)

In [12]:
df.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Year,Month,Day
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,2014-12-01,23.97,2014,12,1
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,2014-12-01,27.42,2014,12,1
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,2017-01-01,12.55,2017,1,1
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,2015-12-01,22.63,2015,12,1
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,2016-06-01,14.00,2016,6,1

In [13]:
df.shape

(18862, 14)

In [14]:
df.isnull().sum()

Unique ID         0
Indicator ID      0
Name              0
Measure           0
Measure Info      0
Geo Type Name     0
Geo Join ID       0
Geo Place Name    0
Time Period       0
Start_Date        0
Data Value        0
Year              0
Month             0
Day               0
dtype: int64

In [15]:
df.to_csv("Air_Quality_Cleaned.csv", index=False)

In [16]:
print("Cleaned data shape:", df.shape)
print(df.head())

Cleaned data shape: (18862, 14)
   Unique ID  Indicator ID                    Name Measure Measure Info  \
0     336867           375  Nitrogen dioxide (NO2)    Mean          ppb
1     336741           375  Nitrogen dioxide (NO2)    Mean          ppb
2     550157           375  Nitrogen dioxide (NO2)    Mean          ppb
3     412802           375  Nitrogen dioxide (NO2)    Mean          ppb
4     412803           375  Nitrogen dioxide (NO2)    Mean          ppb

  Geo Type Name  Geo Join ID                     Geo Place Name  \
0            CD          407      Flushing and Whitestone (CD7)
1            CD          107              Upper West Side (CD7)
2            CD          414  Rockaway and Broad Channel (CD14)
3            CD          407      Flushing and Whitestone (CD7)
4            CD          407      Flushing and Whitestone (CD7)

           Time Period Start_Date  Data Value  Year  Month  Day
0       Winter 2014-15 2014-12-01       23.97  2014     12    1
1       Winter 2014-15 2014-12-01       27.42  2014     12    1
2  Annual Average 2017 2017-01-01       12.55  2017      1    1
3       Winter 2015-16 2015-12-01       22.63  2015     12    1
4          Summer 2016 2016-06-01       14.00  2016      6    1